@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(/font/MaterialIcons-Regular.woff2) format('woff2'), url(/font/MaterialIcons-Regular.woff) format('woff'), url(/font/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}
.material-icons.md-12 {
  font-size: 12px;
}
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}
ul.new-project__buttons {
  list-style-type: none;
  margin: 0px;
  /* padding at bottom to avoid shadow clipping */
  padding: 0em 0em 0.2em 0em;
  overflow: hidden;
}
ul.new-project__buttons li {
  float: left;
  padding-right: 0.4em;
}
#new-project-dialog-form label {
  display: block;
  padding-top: 1.2em;
}
div.upload-project-dialog-form__file-selection {
  font-size: 16px;
  margin-bottom: 16px;
}
div.upload-project-dialog-form__file-selection--filled {
  font-size: 16px;
  margin: 16px 0;
  color: rgba(0, 0, 0, 0.87);
  border-bottom: 1px solid #e0e0e0;
}
div.upload-project-dialog-form__file-error-text {
  font-size: 14px;
  line-height: 14px;
  color: #f44336;
}
a.nostyle:link {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}
a.nostyle:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}
div.page-loading {
  padding-top: 300px;
  text-align: center;
}
.upper-panel {
  height: 50%;
  max-height: 400px;
  display: flex;
}
video.media-panel__video {
  object-fit: contain;
  overflow: hidden;
  /* I have no idea why this was necessary */
  flex-shrink: 30;
}
div.media-panel__time-container {
  display: flex;
  font-size: 10px;
  height: 12px;
  justify-content: center;
}
div.media-panel__playback-buttons {
  display: flex;
  justify-content: center;
}
div.tier-labels__container {
  position: sticky;
  left: 0px;
  width: 100px;
  vertical-align: baseline;
  display: inline-block;
  background-color: white;
  z-index: 9001;
}
div.tier-labels__row:last-child {
  border-bottom: none;
}
div.tier-labels__row {
  height: 32px;
  line-height: 32px;
  text-align: right;
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 4px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
div.tier-rows__container {
  vertical-align: baseline;
  display: inline-block;
}
div.tier-rows__row:last-child {
  border: none;
}
div.tier-rows__row {
  height: 32px;
  line-height: 32px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  white-space: nowrap;
}
div.crosshair {
  position: absolute;
  top: 0px;
  width: 1px;
  border-left: 1px solid red;
  height: 100%;
}
div.ticks__container {
  white-space: nowrap;
  display: inline-block;
  position: relative;
  height: 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
div.ticks__spacer {
  width: 99px;
  height: 24px;
  position: sticky;
  left: 0px;
  z-index: 9001;
  background-color: white;
  vertical-align: baseline;
  display: inline-block;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
svg.ticks {
  height: 24px;
}
